.hide {
  display: none !important;
}

li {
  list-style-type: none;
}

.img-sm {
  max-width: 160px !important;
}

.card_active {
  flex: 3 !important;

  @media (max-width: 500px) {
    flex: none !important;
  }
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
}

.opacity {
  opacity: 0 !important;
}

.body-overflow {
  overflow: hidden !important;
}

$mobile: 500px;

$mobile-m: 580px;

.tabs-order {
  order: 3;
  transition: 3s;
}

.show-element {
  transition: .7s;
}

.show-element_left {
  transition: .7s;
}

.section-hide_top {
  opacity: 0;
  transform: translateY(25px);
}
.section-hide_left {
  opacity: 0;
  transform: translateX(-75px);
}